<h3 appHighlight>Hello Directives</h3>
<p >
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad laboriosam maxime
  beatae, fuga omnis quisquam quod. Distinctio, sapiente consequuntur corrupti
  ab expedita eum voluptates quae ea maxime, quibusdam tenetur! Cum, rem
  laudantium quibusdam quo, ipsa beatae voluptate adipisci explicabo modi
  perferendis praesentium suscipit eligendi obcaecati reprehenderit pariatur
  aut, fugit nulla!
</p>
<hr>

<div appMyRouterLink="/login">Go to Login page</div>
<div appMyRouterLink="/register">Go to Register page</div>